@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
@font-face {
  font-family: "Circular Std";
  src: local("CircularStd-Bold"), url("../../fonts/CircularStd-Bold.woff2") format("woff2"), url("../../fonts/CircularStd-Bold.woff") format("woff"), url("../../fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* === Common styles === */
body {
  font-family: "CircularStd", sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 55px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media (max-width: 1250px) {
  .container {
    max-width: 1250px;
  }
}
@media (max-width: 1150px) {
  .container {
    max-width: 1150px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 950px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 640px;
    padding: 0 40px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 400px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
}
header {
  margin-top: 50px;
}
header .wrapper-nav-content__header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
header .search-store__header {
  margin-right: 15%;
  display: flex;
}
header .search-store__header img {
  margin: 2px 20px 0 0;
}
header .search-store__header #search {
  opacity: 0.7;
  border: none;
}
header .search-store__header #search:focus {
  outline: none;
  border-bottom: 2px solid #000000;
  transition: 0.3s;
}
header ul {
  display: flex;
  gap: 42px;
}
header ul a:hover {
  border-bottom: 2px solid #000000;
  transition: 0.3s;
}
header .last-icon__header {
  margin-left: -12px;
}

@media (max-width: 1400px) {
  header .search-store__header {
    margin-right: 10%;
  }
}
@media (max-width: 1250px) {
  header .search-store__header {
    margin-right: 5%;
  }
}
@media (max-width: 1150px) {
  header .search-store__header {
    margin-right: 0;
  }
}
@media (max-width: 950px) {
  header .logo__header img {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
  }
  header .search-store__header img {
    margin: 10px 10px 0 0;
    width: 100%;
    min-width: 20px;
    min-height: 20px;
  }
  header #search {
    margin-left: 10px;
    font-size: 30px;
  }

  ul li a {
    font-size: 30px;
  }

  .last-icon__header {
    margin: 0;
  }
}
@media (max-width: 767px) {
  header .search-store__header #search {
    margin: 0 auto;
  }

  .search-store__header figure svg {
    margin-top: 10px;
  }

  .menu-link {
    display: none;
  }

  header .last-icon__header {
    margin-left: 0;
  }
}
@media (max-width: 640px) {
  header {
    margin-top: 20px;
  }
  header .wrapper-nav-content__header {
    gap: 0;
  }
  header header ul {
    gap: 0;
  }
  header .logo__header svg {
    margin-top: 15px;
  }
  header .search-store__header {
    margin: 15px 0 0 20px;
  }
  header .search-store__header #search {
    font-size: 30px;
  }
  header a {
    font-size: 30px;
  }
  header .last-icon__header {
    margin-left: 0;
  }

  header ul {
    gap: 5px;
    margin-top: 15px;
  }
}
@media (max-width: 400px) {
  header {
    margin-top: 20px;
  }
  header .wrapper-nav-content__header {
    gap: 10px;
  }
  header .logo__header img {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
  }
  header .search-store__header {
    margin: 15px 0;
  }
  header .search-store__header img {
    margin: 10px 10px 0 0;
    width: 100%;
    min-width: 20px;
    min-height: 20px;
  }
  header .search-store__header #search {
    margin-top: 10px;
    font-size: 17px;
    width: 100%;
    max-width: 180px;
  }
  header a {
    font-size: 30px;
  }
  header .last-icon__header {
    margin-left: 0;
  }
  header .navigation__header nav ul li a img {
    width: 100%;
    max-width: 50px;
    max-height: 50px;
    margin: 0 50px 0;
  }
}
@media (max-width: 320px) {
  header .wrapper-nav-content__header .search-store__header #search {
    font-size: 15px;
    margin-top: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
