@media (max-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 1250px;
  }
}

@media (max-width: 1150px) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 950px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 767px;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 650px;
    padding: 0 40px;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 580px;
  }
}

@media (max-width: 520px) {
  .container {
    max-width: 520px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 380px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
}