@media (max-width: 1400px) {
  header {
    .search-store__header {
      margin-right: 10%;
    }
  }
}

@media (max-width: 1250px) {
  header {
    .search-store__header {
      margin-right: 5%;
    }
  }
}

@media (max-width: 1150px) {
  header {
    .search-store__header {
      margin-right: 0;
    }
  }
}

@media (max-width: 950px) {
  header {
      .logo__header img {
        width: 100%;
        max-width: 120px;
        max-height: 120px;
      }
      .search-store__header img {
          margin: 10px 10px 0 0;
          width: 100%;
          min-width: 20px;
          min-height: 20px;
      }
      #search {
        margin-left: 10px;
        font-size: 30px;
      }
    }
    ul {
      li a {
        font-size: 30px;
      }
    }
    .last-icon__header {
      margin: 0;
    }
  }

@media (max-width: 767px) {
  header .search-store__header #search {
    margin: 0 auto;
  }
  .search-store__header figure svg {
    margin-top: 10px;
  }
  .menu-link {
    display: none;
  }
  header .last-icon__header {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  header {
    margin-top: 20px;
    .wrapper-nav-content__header {
      gap: 0;
    }
    header ul {
      gap: 0;
    }
      .logo__header svg {
        margin-top: 15px;
      }
      .search-store__header {
        margin: 15px 0 0 20px;
        #search {
          font-size: 30px;
        }
      }
      a {
        font-size: 30px;
      }
      .last-icon__header {
        margin-left: 0;
      }
    }
  header ul {
    gap: 5px;
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  header {
    margin-top: 20px;
    .wrapper-nav-content__header {
      gap: 10px;
    }
      .logo__header img {
        width: 100%;
        max-width: 120px;
        max-height: 120px;
      }
      .search-store__header {
        margin: 15px 0;
        img {
          margin: 10px 10px 0 0;
          width: 100%;
          min-width: 20px;
          min-height: 20px;
        }
        #search {
          margin-top: 10px;
          font-size: 17px;
          width: 100%;
          max-width: 180px;
        }
      }
      a {
        font-size: 30px;
      }
      .last-icon__header {
        margin-left: 0;
      }
      .navigation__header nav ul li a img {
        width: 100%;
        max-width: 50px;
        max-height: 50px;
        margin: 0 50px 0;
      }
    }
  }

@media (max-width: 380px) {

}

@media (max-width: 320px) {
  header {
    .wrapper-nav-content__header {
      .search-store__header {
        #search {
          font-size: 15px;
          margin-top: 12px;
        }
      }
    }
  }
}
